# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*
*.py[codz]
*$py.class

# C extensions
*.so

#django stuff:
logs/
migrations/
*.log

#misc
todolist*
molimages/*
flatfiles/*